
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">About Us</h2>
        </div>
        <a asp-controller="Home" asp-action="Index">Home</a>» <span class="breadcrumb_last" aria-current="page">Contact</span>
      
    </div>
</nav>
<section class="w3l-about1" id="about">
    <div id="content-with-photo4-block" class="pt-5">
        <div class="container py-md-3">
            <div class="row pt-md-3">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="cwp4-two row">

                        <div class="cwp4-text col-lg-6">
                            <h3>Who we are?</h3>
                            <p>
                                The Grand Abrhot Library was directed by Prime Minister Abiy Ahmed. He led the project through the idea of creating it to its final stage.
                            </p>

                            <ul class="cont-4">
                                <li><span class="fa fa-check"></span>Quiet study spaces for adults and children</li>
                                <li><span class="fa fa-check"></span>Librarians to help people find information they need</li>
                               
                                <li><span class="fa fa-check"></span>Reference Services </li>
                            </ul>
                        </div>
                        <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
                            <img src="~/lib/images/FH8S5b0XEAgfZph.jpg" class="img-fluid shadow img-curve" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-about2">
    <div class="features py-5">
        <div class="container py-lg-3">
            <div class="row pt-md-3">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="fea-gd-vv">
                        <div class="float-lt feature-gd">
                            <div class="about-info">
                                <h5>Our History</h5>
                                <p>
                                    Abrehot Library is a public library in Addis Ababa. It was officially opened in January 2022 in a ceremony presided over by Prime Minister Abiy Ahmed. 
                                    Built at a cost of over 1.1 billion Birr, and at a size of 19,000 square meters, it is the largest library in Ethiopia.

                                </p>
                               
                            </div>

                        </div>
                        <div class="float-mid feature-gd mt-5">
                            <div class="about-info">
                                <h5>Our intention</h5>
                               
                                <p>
                                    To provide resources and services in a variety of media to meet the needs of individuals and groups for education, information and personal development including recreation and leisure.
                                </p>
                            </div>
                        </div>

                        <div class="float-rt feature-gd mt-5">
                            <div class="about-info">
                                <h5>Our Vision</h5>
                                <p>
                                    Abrehot is a very ambitious project that aims to collect a million copies and turn the library as the biggest and most important place where the collective wisdom, knowledge and heritage of the Ethiopian people is found in one place for people to read and use in many ways and for many purposes
                                </p>
                              
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>