@{
    ViewData["Title"] = "Home Page";
}
<section class="w3l-index2 py-5">
    <div class="container py-md-3">
        <div class="header-section text-center mx-auto">
            <h3>Why Study with Us? </h3>
            <p class="my-3">
                To find a type of resource to solve a current problem, achieve a goal or meet an interest.
                To learn how various topics can conventionally be categorized and integrated with each other.
            </p>
        </div>
        <div class="row bottom_grids pt-md-3 text-center">
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="s-block">
                    <a href="/home/index" class="d-block p-lg-4 p-3">
                        <img src="~/lib/images/FB_IMG_1641052025835.jpg" alt="" class="img-fluid img-curve" />
                        <h3 class="my-3">Learn anything</h3>
                        <p class="">Books are uniquely suited to helping us change our relationship to the rhythms and habits of daily life in this world of endless connectivity</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="s-block">
                    <a href="/home/index" class="d-block p-lg-4 p-3">
                        <img src="~/lib/images/Abrehot-Library.jpg" alt="" class="img-fluid img-curve" />
                        <h3 class="my-3">Learn with experts</h3>
                        <p class="">It helps children learn to make sense not only of the world around them but also people, building social-emotional skills and of course, imagination. “Reading exposes us to other styles, other voices, other forms, and other genres of writing</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="s-block">
                    <a href="/home/index" class="d-block p-lg-4 p-3">
                        <img src="~/lib/images/Ethiopia-inaugurates-grand-library-in-Addis-Ababa.jpg" alt="" class="img-fluid img-curve" />
                        <h3 class="my-3">Flexible learning</h3>
                        <p class="">lexible learning is learner-centred, encouraging greater independence and autonomy on the part of the learner. Its ethos is to enable and empower learners and give them greater control of their learning and become more self-directed.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>