
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">User Home Page</h2>
        </div>
        <a asp-controller="Home" asp-action="Logout">LogOut</a>
      
    </div>
</nav>
<section class="w3l-about1" id="about">
    <div id="content-with-photo4-block" class="pt-5">
        <div class="container py-md-3">
            <div class="row pt-md-3">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="cwp4-two row">

                        <div class="cwp4-text col-lg-6">
                            <h3>Member's Username: @ViewBag.Username</h3>
                            <h3>Member's Name: @ViewBag.Name</h3>
                            <p>
                                @{
                                }
                                Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>

                            <ul class="cont-4">
                                <li><span class="fa fa-check"></span>Online/Offline Classrooms</li>
                                <li><span class="fa fa-check"></span>Personal Mentor Support</li>
                                <li><span class="fa fa-check"></span>Lifetime Slack Chat Support Lorem, ipsum dolor.</li>
                                <li><span class="fa fa-check"></span>Job Placement Support </li>
                            </ul>
                        </div>
                        <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
                            <img src="~/lib/images/FH8S5b0XEAgfZph.jpg" class="img-fluid shadow img-curve" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-about2">
    <div class="features py-5">
        <div class="container py-lg-3">
            <div class="row pt-md-3">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="fea-gd-vv">
                        <div class="float-lt feature-gd">
                            <div class="about-info">
                                <h5>Our History</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                    ad
                                    minim veniam, quis nostrud.
                                </p>
                                <ol>
                                    <li>overall student-athelete GPA for Spring 2020</li>
                                    <li>bachelor's recipients were employed or both within six months of</li>
                                    <li>gradueates hold a position related to their degree or career objective</li>
                                    <li>overall student-athelete GPA for Spring 2020</li>
                                    <li>overall student-athelete GPA for Spring 2020</li>
                                    <li>bachelor's recipients were employed or both within six months of</li>
                                    <li>gradueates hold a position related to their degree or career objective</li>
                                    <li>overall student-athelete GPA for Spring 2020</li>
                                </ol>
                            </div>

                        </div>
                        <div class="float-mid feature-gd mt-5">
                            <div class="about-info">
                                <h5>Our intention</h5>
                                <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ut perspiciatis voluptas sint autem, officiis, iure quisquam nam ratione error, temporibus saepe ipsam quas architecto?</strong></p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                    ad
                                    minim veniam, quis nostrud. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laborum officiis doloribus dignissimos, impedit perferendis dolores quam nemo pariatur incidunt assumenda accusamus modi nihil in, illum facere, deleniti iusto ut a hic nobis. Reiciendis illum, obcaecati quidem repellat ea, laboriosam ut minima culpa dolor, nobis et suscipit ad perferendis magni!
                                </p>
                            </div>
                        </div>

                        <div class="float-rt feature-gd mt-5">
                            <div class="about-info">
                                <h5>Our Vision</h5>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                    ad
                                    minim veniam, quis nostrud.
                                </p>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores eaque eius aliquid, animi hic minima pariatur, ipsam quisquam qui molestiae fugiat vitae eos sed quos? Illum unde est temporibus accusamus tempore tenetur adipisci officiis et numquam voluptatum quam doloribus vel eveniet ad maxime veritatis, saepe autem necessitatibus in quas nihil voluptate. Sed obcaecati dicta ut quibusdam, incidunt ea suscipit labore? Commodi quisquam quaerat corrupti dolor doloribus expedita nihil?</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
